* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

a {
  font-style: unset;
}

a:link {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
  width: 100%;
}

section {
  width: 1200px;
  margin: 0 auto;
  /* background-color: palegoldenrod; */
}

img {
  width: 100%;
}

header {
  margin: 0 0 20px 0;
}

.top-message {
  background-color: #5e0080;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  padding: 13px;
}

.top {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.delivery-info img {
  width: 121px;
  height: 22px;
}

.for_user {
  width: 20%;
  display: flex;
  gap: 14px;
}

.for_user_detail {
  width: 100px;
  position: absolute;
  right: 212px;
  background-color: white;
  display: none;
  margin-top: 5px;
  font-size: 13px;
  border: 1px solid #ddd;
  padding: 7px;
  line-height: 19px;
}

.for_user_detail li {
  margin-bottom: 5px;
}

.for_user_detail li:last-child {
  margin-bottom: 0;
}

.for_user li:last-child:hover
.for_user_detail
{
  display: block;
}

header .middle {
  height: 85px;
  background-image: url("https://res.kurly.com/images/marketkurly/logo/logo_x2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 103px 79px; 
}

header .bottom {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_category {
  width: 10%;
}


.main_menu {
  padding: 15px 9px;
  /* z-index: 1; */
  position: absolute;
  top: 241px;
  border: 1px solid #Ddd;
  background-color: white;
  width: 230px;
  line-height: 30px;
  display: none;
}

.main_menu img {
  width: 24px;
  height: 24px;
}

.main_menu li {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 9px;  
}

.main_category:hover
.main_menu {
  display: block;
}

.nav_menu {
  width: 40%;
}

.nav_menu ul {
  display: flex;
  justify-content: space-between;x
}

.bottom form {
  width: 20%;
  padding: 10px 10px 10px 14px;
  border: 1px solid #f7f7f6;
  background: #f7f7f7;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
}

.search {
  padding-right: 8px;
  background: #f7f7f7;
  font-size: 12px;
  font-weight: 400;

}

.logo {
  width: 15%;
  font-size: 25px;
  display: flex;
  letter-spacing: 30px;
}

/* main {
  position: relative;
} */

.main_banner {
  width: 100%;
  height: 370px;
  background-image: url("https://img-cf.kurly.com/shop/data/main/1/pc_img_1632900966.jpg");
  background-repeat: no-repeat;
}

.side_menu {
  position: fixed;
  z-index: 1;
  top: 80%;
  right: 20px;
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.delivery_info img {
  width: 80px;
  height: 120px;
}

.side_menu ul {
  border: 1px solid #ddd;
}

.side_menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  height: 29px;

}

.side_menu li:nth-child(2) {
  border-top: 1px solid #ddd;
}

.side_menu li:nth-child(3) {
  border-top: 1px solid #ddd;
}


.type {
  margin-bottom: 80px;
}

section h3 {
  text-align: center;
  font-size: 28px;
  padding: 79px 0 35px 0;
}

article {
  width: 100%;
  margin: 0 auto;
}

.goods_ul {
  display: flex; 
  max-width: 1000px;
  margin: 0 auto;
  /* flex-wrap: wrap;   */
  justify-content: center;
  gap: 20px;
}

.goods_li {
  width: 100%;
}

.type_1 .thumb {
  /* width: 249px; */
  height: 320px;
  background-image: url("	https://img-cf.kurly.com/shop/data/goods/1470278102426l0.jpg");
  background-size: cover;  
}

.info {
  margin: 14px 0;
}

.price {
  margin: 15px 0;
}

.dc {
  font-weight: 800;
  margin-bottom: 4px;
}

.dc span:first-child {
  color: #fa622f;
}

.none_dc {
  font-size: 14px;
  color: #999;
  text-decoration:line-through;
}

.type_2 {
  background-color: #f7f7f7;
  padding-bottom: 120px;
}

.type_2 .thumb {
  width: 338px;
  height: 338px;
  background-image: url('https://img-cf.kurly.com/shop/data/main/3/pc_img_1632908257.jpg');
  background-size: cover;
}

.type_2 .info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 0.3px;
}

.type_2 .info .name {
  font-size: 18px;
  font-weight: 700;
}

.type_2 .info .desc {
  margin-top: 5px;
  color: #999999;
  font-size: 16px;
}

.category_md_list {
  width: 860px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.category_md_list li {
  border: 1px solid #f7f7f6;
  background-color: #f7f7f7;
  padding: 10px 20px;
  margin: 10px 5px;
  color: #333;
  border-radius: 20px;
  font-size: 14px; 
  text-align: center;
}

.link_md {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 150px;
  border: 1px solid #e3e3e3;
  text-align: center;
  padding: 15px;
}

.link_md img {
  width: 20px;
  height: 20px;
}

.type_3 .thumb {
  width: 338px;
  height: 225px;
  background-image: url('https://img-cf.kurly.com/shop/data/board/recipe/m/main_v2_994b2d276f3f5efe.jpg');
  background-size: cover;
}

.type_3 .info .name {
  text-align: center;
}

.type_4 .thumb {
  width: 175px;
  height: 175px;
}

.type_4 .goods_ul {
  gap: 0;
}

.insta_review {
  text-align: center;
  padding: 40px 0 80px 0;
  display: flex;
  flex-direction: column;
}

.insta_review span {
  color: #999999;
  margin-bottom: 10px;
}

.insta_link {
  font-weight: 700;
}

.row:nth-child(1) {
  margin-top: 20px;
  border-bottom: 1px solid #e3e3e3;
}


.row {
  display: flex;
  padding: 20px 0px;
}

.column {
  width: 50%;
}

.column h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.help_total {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.help {
  display: flex;
  align-items: center;
  gap: 20px;
}

.help .tit {
  width: 140px;
  font-size: 14px;
}

.help .detail {
  display: flex;
  flex-direction: column;
}

.help .tit {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call .tit {
  border-style: none;
  display: block;
}

.call .tit:first-child {
  font-size: 28px;
  font-weight: 800;
}

.help .detail span:first-child {
  font-size: 15px;
}
.help .detail span:nth-child(2) {
  font-size: 14px;
  color: #999;
}

.intro {
  display: flex;
  gap: 20px;
}

.company {
  color: #949296;
  font-size: 12px;
  margin: 30px 0; 
  line-height: 20px;
}

.company a {
  color: #5f0080;
}

.copy {
  color: #949296;
  font-size: 10px;
  margin: 20px 0;

}

.sns {
  margin: 15px 0;
  padding: 15px 0;
}

.sns ul {
  display: flex;
  gap: 8px;
}

.sns img {
  width: 30px;
  height: 30px;
  margin-right: 2px;
}

.row:nth-child(2) {
  display: flex;
  gap: 80px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.mark {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mark .txt {
  font-size: 10px;
  color: #999;
}

.mark img {
  width: 34px;
  height: 34px;
}

.mark:last-child img {
  width: 102px;
  height: 34px;
}

.arrow_up {
  position: fixed;
  bottom: 30px;
  right: 40px;
}

.arrow_up img {
  width: 58px;
  height: 58px;
}


