* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
  width: 100%;
}

section {
  width: 1200px;
  margin: 0 auto;
  /* background-color: palegoldenrod; */
}

img {
  width: 100%;
}

/* section:first-child {
  height: 100%;
} */

header {
  margin: 0 0 20px 0;
}
.top-message {
  background-color: #5e0080;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  padding: 13px;
}

.top {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.user {
  width: 20%;
}

.user span {
  padding: 0 8px;
}

.user span:first-child {
  color: #5f0080;
}

.delivery-info img {
  width: 121px;
  height: 22px;
}

header .middle {
  height: 85px;
  background-image: url("https://res.kurly.com/images/marketkurly/logo/logo_x2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 103px 79px; 
}

header .bottom {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  width: 10%;
}

.category i {
  margin-right: 9px;
}

.menu {
  width: 40%;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  
}

.search {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-color: #f7f7f6;
}

.search input {
  padding: 10px 8px;
  background-color: #f7f7f7;
  color: #777;
  font-size: 13px;
}

.logo {
  width: 15%;
  font-size: 25px;
  display: flex;
  letter-spacing: 30px;
}

.main_banner {
  width: 100%;
  height: 370px;
  background-image: url("https://img-cf.kurly.com/shop/data/main/1/pc_img_1632900966.jpg");
  background-repeat: no-repeat;
}

.type {
  margin-bottom: 80px;
}

section h3 {
  text-align: center;
  font-size: 28px;
  padding: 79px 0 35px 0;
}

.goods {
  width: 100%;
  display: flex;
}

.list {
  width: 100%;
}

.thumb {
  width: 249px;
  height: 320px;
  /* background-image: url("https://img-cf.kurly.com/shop/data/goods/1567563159964l0.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.type_1 img {
  width: 249px;
  height: 320px;
}

.info {
  margin: 14px 0;
}

.price {
  margin: 15px 0;
}

.discount {
  font-weight: 800;
  margin-bottom: 4px;
}

.discount span:first-child {
  color: #fa622f;
}

.non_discount {
  font-size: 14px;
  color: #999;
  text-decoration:line-through;
}

.type_2 {
  background-color: #f7f7f7;
  padding-bottom: 120px;
}

.type_2 img {
  width: 338px;
  height: 338px;
}

.type_2 .info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.category_md_list {
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 30px;
}

.category_md_list li {
  border: 1px solid #f7f7f6;
  background-color: #f7f7f7;
  padding: 10px 20px;
  margin: 10 20px;
  color: #333;
  border-radius: 20px;
  font-size: 14px; 
  text-align: center;

}

.link_md {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #e3e3e3;
  text-align: center;
  padding: 15px;
}

.type_3 img {
  width: 338px;
  height: 225px;
}

.type_4 img {
  width: 175px;
  height: 175px;
}

.type_4 .info {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.type_4 .info div {
  color: #999;
  margin-bottom: 8px;
}

.type_4 .goods {
  justify-content: center;
}